<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <main>
      <% if (!longURL) { %>
      <p>Please <a href="/login">log in</a> to view this page</p>
      <% } else { %>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %></h5>
          <p class="card-text">
            Short URL:
            <a href="/u/<%= shortURL %>"><%= shortURL %></a>
          </p>
        </div>
        <div class="card-footer text-muted pt-2 pb-3">
          <h2>Edit</h2>
          <form
            class="form"
            method="POST"
            action="<%= shortURL %>?_method=PUT"
          >
            <div
              class="form-inline align-items-center justify-content-center"
            >
              <label for="newURL">New URL:</label>
              <input
                type="url"
                id="new URL"
                name="newURL"
                class="ml-2"
              />
              <button type="submit" class="btn btn-primary ml-2">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
      <% } %>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
