<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <main>
      <% if (!longURL) { %>
      <p>Please <a href="/login">log in</a> to view this page</p>
      <% } else { %>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %></h5>
          <p class="card-subtitle text-muted mb-4">
            Short URL:
            <a href="/u/<%= shortURL %>"><%= shortURL %></a>
          </p>
          <div>
            <p class="card-text">
              Total Visits: <%= totalVisit %>
            </p>
            <p class="card-text">
              Unique Visits: <%= visitors.length %>
            </p>
          </div>

          <div class="card w-75 mx-auto m-4 p-4">
            <h2>Edit</h2>
            <form
              class="form"
              method="POST"
              action="<%= shortURL %>?_method=PUT"
            >
              <div
                class="form-inline align-items-center justify-content-center"
              >
                <label for="newURL">New URL:</label>
                <input
                  type="url"
                  id="new URL"
                  name="newURL"
                  class="ml-2"
                />
                <button type="submit" class="btn btn-primary ml-2">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer text-muted pt-2 pb-3">
          <h3>Analytics</h3>
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Visitor</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <% timestamps.forEach((timeObj, idx) => { %>
              <tr>
                <th scope="row"><%= idx + 1 %></th>
                <td><%= timeObj.visitorID %></td>
                <td><%= timeObj.date %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
